In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

MYSQL_URI = (
    "mysql+pymysql://health_user:strong_password_here"
    "@localhost:3306/HEALTH"
)

engine = create_engine(MYSQL_URI)

In [2]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT DATABASE()"))
    print("connected_db:", result.fetchone()[0])

connected_db: health

테이블 목록 확인

In [3]:
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES"))
    tables = [row[0] for row in result.fetchall()]
    print(tables)

['core5_decision_log', 'core9_final_implication_log', 'core9_state_based_decision_log', 'health_state_log', 'insurance_action_log', 'prediction_log', 'prediction_results']

health_state_log 구조 확인

In [4]:
with engine.connect() as conn:
    result = conn.execute(text("DESCRIBE health_state_log"))
    df_desc = pd.DataFrame(result.fetchall(), columns=result.keys())
    df_desc

In [5]:
query = """
SELECT *
FROM health_state_log
LIMIT 5
"""

df_sample = pd.read_sql(query, engine)
df_sample

     id asset_id  t_index  state_value source          created_at
0  2795    B0047        0     1.674305   nasa 2025-12-26 04:44:47
1  2796    B0047        1     1.524366   nasa 2025-12-26 04:44:47
2  2797    B0047        2     1.508076   nasa 2025-12-26 04:44:47
3  2798    B0047        3     1.483558   nasa 2025-12-26 04:44:47
4  2799    B0047        4     1.467139   nasa 2025-12-26 04:44:47