In [14]:
import pandas as pd
from sqlalchemy import create_engine, text

MYSQL_URI = "mysql+pymysql://health_user:strong_password_here@localhost:3306/HEALTH"
engine = create_engine(MYSQL_URI)

decision log 로드

In [15]:
action_df = pd.read_sql(
    """
    SELECT
        asset_id,
        t_index,
        action,
        reason,
        created_at
    FROM insurance_action_log
    ORDER BY asset_id, t_index
    """,
    engine
)

action_df.head()

  asset_id  t_index   action           reason          created_at
0       46      134  approve  low uncertainty 2025-12-26 05:33:04
1       46      135  approve  low uncertainty 2025-12-26 05:33:04
2       46      136  approve  low uncertainty 2025-12-26 05:33:04
3       46      137  approve  low uncertainty 2025-12-26 05:33:04
4       46      138  approve  low uncertainty 2025-12-26 05:33:04

Core2 예측 + 실제 결과 확인

In [16]:
health_df = pd.read_sql(
    """
    SELECT
        asset_id,
        t_index,
        state_value
    FROM health_state_log
    ORDER BY asset_id, t_index
    """,
    engine
)

health_df.head()

     asset_id  t_index  state_value
0  1503960366        0    -0.002802
1  1503960366        1     0.452790
2  1503960366       29     0.074852
3  1624580081        0    -0.097907
4  1624580081        1     0.276382

In [17]:
df = action_df.merge(
    health_df,
    on=["asset_id", "t_index"],
    how="left"
)

df.head()

  asset_id  t_index   action           reason          created_at  state_value
0       46      134  approve  low uncertainty 2025-12-26 05:33:04     0.000000
1       46      135  approve  low uncertainty 2025-12-26 05:33:04     0.000000
2       46      136  approve  low uncertainty 2025-12-26 05:33:04     0.794855
3       46      137  approve  low uncertainty 2025-12-26 05:33:04     0.794855
4       46      138  approve  low uncertainty 2025-12-26 05:33:04     0.794855

단순 규칙 로직 복기

In [18]:
def rule_based_decision(reason):
    return 1 if reason == "high uncertainty" else 0

df["rule_decision"] = df["reason"].apply(rule_based_decision)

실제 개입 vs 규칙 비교

In [19]:
comparison = (
    df[["action", "rule_decision"]]
    .value_counts()
    .reset_index(name="count")
)

comparison

    action  rule_decision  count
0  approve              0   2061
1     deny              1    748

Core 5 결론용 정리 데이터

In [20]:
summary = {
    "total_actions": len(df),
    "rule_trigger_rate": df["rule_decision"].mean(),
    "actual_intervention_rate": (df["action"] == "deny").mean(),
}

summary

{'total_actions': 2809,
 'rule_trigger_rate': 0.26628693485226057,
 'actual_intervention_rate': 0.26628693485226057}